:root {
  --weight-title: 700;
  --color-title: #212121;
  --size-section-title: 36px;
  --color-accent: #2196f3;
  --color-text: #757575;
  --color-text-second: #ffffff;
  --wight-btn: 500;
  --size-btn: 16px;
  --background-btn: #f5f4fa;
  --size-img-title: 18px;
  --line-height-img-title: 2;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

/* логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  text-decoration: none;
}
.logo-text {
  color: #000000;
}

/* навигация и контакты */

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.nav-link:focus,
.nav-link:hover,
.contacts-link:focus,
.contacts-link:hover {
  color: var(--color-accent);
}
.contacts-list {
}

.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
}

/* герой */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-second);
}

.button-hero {
  font-weight: 700;
  font-size: var(--size-btn);
  color: var(--color-text-second);
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-accent);
  cursor: pointer;
}

/* Наши преимущества */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-title {
  font-weight: var(--weight-title);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
}
.advantage-text {
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section-title {
  font-weight: var(--weight-title);
  font-size: var(--size-section-title);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-title);
}

/* Наша команда */

.section {
  background-color: #f5f4fa;
}

.cards-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.cards-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* подвал */

.footer {
  background-color: #2f303a;
}

.logo-text-footer {
  color: var(--color-text-second);
}

.address-link {
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-href {
  color: var(--color-text-second);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-accent);
}

/* Портфолио */
/* Кнопки */

.nav-list .link.current {
  color: var(--color-accent);
}

.button-item {
  font-weight: var(--wight-btn);
  font-size: var(--size-btn);
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.button-item:hover,
.button-item:focus {
  background-color: var(--color-link);
  color: var(--color-text-second);
}

/* Карточки */

.img-link {
  text-decoration: none;
}

.item-img-title {
  font-weight: var(--weight-title);
  font-size: var(--size-img-title);
  line-height: var(--line-height-img-title);
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.item-img-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
